(
    config_name: "aura_tuf.ron",
    brightness: Med,
    current_mode: Static,
    builtins: {
        Static: (
            mode: Static,
            zone: r#None,
            colour1: (
                r: 76,
                g: 210,
                b: 255,
            ),
            colour2: (
                r: 0,
                g: 0,
                b: 0,
            ),
            speed: Med,
            direction: Right,
        ),
        Breathe: (
            mode: Breathe,
            zone: r#None,
            colour1: (
                r: 166,
                g: 0,
                b: 0,
            ),
            colour2: (
                r: 0,
                g: 0,
                b: 0,
            ),
            speed: Med,
            direction: Right,
        ),
        RainbowCycle: (
            mode: RainbowCycle,
            zone: r#None,
            colour1: (
                r: 166,
                g: 0,
                b: 0,
            ),
            colour2: (
                r: 0,
                g: 0,
                b: 0,
            ),
            speed: Med,
            direction: Right,
        ),
        RainbowWave: (
            mode: RainbowWave,
            zone: r#None,
            colour1: (
                r: 166,
                g: 0,
                b: 0,
            ),
            colour2: (
                r: 0,
                g: 0,
                b: 0,
            ),
            speed: Med,
            direction: Right,
        ),
        Pulse: (
            mode: Pulse,
            zone: r#None,
            colour1: (
                r: 166,
                g: 0,
                b: 0,
            ),
            colour2: (
                r: 0,
                g: 0,
                b: 0,
            ),
            speed: Med,
            direction: Right,
        ),
    },
    multizone_on: false,
    enabled: (
        states: [
            (
                zone: Keyboard,
                boot: true,
                awake: true,
                sleep: true,
                shutdown: true,
            ),
        ],
    ),
)