(
    profiles: (
        balanced: [
            (
                fan: CPU,
                pwm: (25, 26, 28, 37, 80, 162, 225, 255),
                temp: (20, 29, 39, 48, 58, 67, 77, 86),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (25, 38, 55, 140, 190, 230, 250, 255),
                temp: (38, 44, 50, 55, 60, 66, 73, 80),
                enabled: true,
            ),
        ],
        performance: [
            (
                fan: CPU,
                pwm: (30, 33, 44, 92, 130, 192, 236, 255),
                temp: (20, 29, 38, 47, 55, 64, 73, 82),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (35, 55, 100, 170, 195, 235, 252, 255),
                temp: (30, 35, 43, 46, 50, 58, 67, 77),
                enabled: true,
            ),
        ],
        quiet: [
            (
                fan: CPU,
                pwm: (20, 20, 20, 20, 24, 48, 103, 170),
                temp: (20, 28, 36, 44, 52, 60, 68, 76),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (18, 28, 45, 65, 85, 105, 125, 150),
                temp: (50, 53, 56, 58, 61, 63, 65, 68),
                enabled: true,
            ),
        ],
        custom: [],
    ),
)
