(
    profiles: (
        balanced: [
            (
                fan: CPU,
                pwm: (26, 33, 51, 102, 156, 204, 245, 255),
                temp: (20, 55, 66, 74, 81, 85, 88, 90),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (26, 43, 77, 128, 171, 209, 245, 255),
                temp: (20, 60, 68, 75, 82, 85, 88, 90),
                enabled: true,
            ),
        ],
        performance: [
            (
                fan: CPU,
                pwm: (26, 34, 71, 117, 173, 224, 255, 255),
                temp: (20, 50, 60, 68, 75, 80, 84, 90),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (26, 51, 98, 136, 173, 209, 244, 255),
                temp: (20, 60, 68, 74, 80, 84, 87, 90),
                enabled: true,
            ),
        ],
        quiet: [
            (
                fan: CPU,
                pwm: (20, 30, 51, 94, 143, 181, 234, 255),
                temp: (20, 62, 72, 79, 84, 87, 89, 90),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (20, 40, 66, 107, 153, 194, 240, 255),
                temp: (20, 66, 73, 80, 84, 87, 89, 90),
                enabled: true,
            ),
        ],
        custom: [],
    ),
)
